<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.home.title">Field Test Pager Entities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-field-test-pager-entity" [routerLink]="['/field-test-pager-entity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.home.createLabel">
            Create new Field Test Pager Entity
            </span>
        </button>
    </h2>
    <my-prefix-alert></my-prefix-alert>
    <br/>
    <div class="table-responsive" *ngIf="fieldTestPagerEntities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stringJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.stringJade">String Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stringRequiredJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.stringRequiredJade">String Required Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stringMinlengthJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.stringMinlengthJade">String Minlength Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stringMaxlengthJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.stringMaxlengthJade">String Maxlength Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stringPatternJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.stringPatternJade">String Pattern Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="integerJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.integerJade">Integer Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="integerRequiredJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.integerRequiredJade">Integer Required Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="integerMinJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.integerMinJade">Integer Min Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="integerMaxJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.integerMaxJade">Integer Max Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.longJade">Long Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longRequiredJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.longRequiredJade">Long Required Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longMinJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.longMinJade">Long Min Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longMaxJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.longMaxJade">Long Max Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="floatJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.floatJade">Float Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="floatRequiredJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.floatRequiredJade">Float Required Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="floatMinJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.floatMinJade">Float Min Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="floatMaxJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.floatMaxJade">Float Max Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="doubleRequiredJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.doubleRequiredJade">Double Required Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="doubleMinJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.doubleMinJade">Double Min Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="doubleMaxJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.doubleMaxJade">Double Max Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bigDecimalRequiredJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.bigDecimalRequiredJade">Big Decimal Required Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bigDecimalMinJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.bigDecimalMinJade">Big Decimal Min Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bigDecimalMaxJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.bigDecimalMaxJade">Big Decimal Max Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="localDateJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.localDateJade">Local Date Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="localDateRequiredJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.localDateRequiredJade">Local Date Required Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instantJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.instantJade">Instant Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instanteRequiredJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.instanteRequiredJade">Instante Required Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="zonedDateTimeJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.zonedDateTimeJade">Zoned Date Time Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="zonedDateTimeRequiredJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.zonedDateTimeRequiredJade">Zoned Date Time Required Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="booleanJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.booleanJade">Boolean Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="booleanRequiredJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.booleanRequiredJade">Boolean Required Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="enumJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.enumJade">Enum Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="enumRequiredJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.enumRequiredJade">Enum Required Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="byteImageJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.byteImageJade">Byte Image Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="byteImageRequiredJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.byteImageRequiredJade">Byte Image Required Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="byteImageMinbytesJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.byteImageMinbytesJade">Byte Image Minbytes Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="byteImageMaxbytesJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.byteImageMaxbytesJade">Byte Image Maxbytes Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="byteAnyJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.byteAnyJade">Byte Any Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="byteAnyRequiredJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.byteAnyRequiredJade">Byte Any Required Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="byteAnyMinbytesJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.byteAnyMinbytesJade">Byte Any Minbytes Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="byteAnyMaxbytesJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.byteAnyMaxbytesJade">Byte Any Maxbytes Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="byteTextJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.byteTextJade">Byte Text Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="byteTextRequiredJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.byteTextRequiredJade">Byte Text Required Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="byteTextMinbytesJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.byteTextMinbytesJade">Byte Text Minbytes Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="byteTextMaxbytesJade"><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestPagerEntity.byteTextMaxbytesJade">Byte Text Maxbytes Jade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fieldTestPagerEntity of fieldTestPagerEntities ;trackBy: trackId">
                <td><a [routerLink]="['/field-test-pager-entity', fieldTestPagerEntity.id, 'view' ]">{{fieldTestPagerEntity.id}}</a></td>
                <td>{{fieldTestPagerEntity.stringJade}}</td>
                <td>{{fieldTestPagerEntity.stringRequiredJade}}</td>
                <td>{{fieldTestPagerEntity.stringMinlengthJade}}</td>
                <td>{{fieldTestPagerEntity.stringMaxlengthJade}}</td>
                <td>{{fieldTestPagerEntity.stringPatternJade}}</td>
                <td>{{fieldTestPagerEntity.integerJade}}</td>
                <td>{{fieldTestPagerEntity.integerRequiredJade}}</td>
                <td>{{fieldTestPagerEntity.integerMinJade}}</td>
                <td>{{fieldTestPagerEntity.integerMaxJade}}</td>
                <td>{{fieldTestPagerEntity.longJade}}</td>
                <td>{{fieldTestPagerEntity.longRequiredJade}}</td>
                <td>{{fieldTestPagerEntity.longMinJade}}</td>
                <td>{{fieldTestPagerEntity.longMaxJade}}</td>
                <td>{{fieldTestPagerEntity.floatJade}}</td>
                <td>{{fieldTestPagerEntity.floatRequiredJade}}</td>
                <td>{{fieldTestPagerEntity.floatMinJade}}</td>
                <td>{{fieldTestPagerEntity.floatMaxJade}}</td>
                <td>{{fieldTestPagerEntity.doubleRequiredJade}}</td>
                <td>{{fieldTestPagerEntity.doubleMinJade}}</td>
                <td>{{fieldTestPagerEntity.doubleMaxJade}}</td>
                <td>{{fieldTestPagerEntity.bigDecimalRequiredJade}}</td>
                <td>{{fieldTestPagerEntity.bigDecimalMinJade}}</td>
                <td>{{fieldTestPagerEntity.bigDecimalMaxJade}}</td>
                <td>{{fieldTestPagerEntity.localDateJade | date:'mediumDate'}}</td>
                <td>{{fieldTestPagerEntity.localDateRequiredJade | date:'mediumDate'}}</td>
                <td>{{fieldTestPagerEntity.instantJade | date:'medium'}}</td>
                <td>{{fieldTestPagerEntity.instanteRequiredJade | date:'medium'}}</td>
                <td>{{fieldTestPagerEntity.zonedDateTimeJade | date:'medium'}}</td>
                <td>{{fieldTestPagerEntity.zonedDateTimeRequiredJade | date:'medium'}}</td>
                <td>{{fieldTestPagerEntity.booleanJade}}</td>
                <td>{{fieldTestPagerEntity.booleanRequiredJade}}</td>
                <td jhiTranslate="{{'jhipsterSampleApplicationApp.EnumFieldClass.' + fieldTestPagerEntity.enumJade}}">{{fieldTestPagerEntity.enumJade}}</td>
                <td jhiTranslate="{{'jhipsterSampleApplicationApp.EnumRequiredFieldClass.' + fieldTestPagerEntity.enumRequiredJade}}">{{fieldTestPagerEntity.enumRequiredJade}}</td>
                <td>
                    <a *ngIf="fieldTestPagerEntity.byteImageJade" (click)="openFile(fieldTestPagerEntity.byteImageJadeContentType, fieldTestPagerEntity.byteImageJade)">
                        <img [src]="'data:' + fieldTestPagerEntity.byteImageJadeContentType + ';base64,' + fieldTestPagerEntity.byteImageJade" style="max-height: 30px;" alt="fieldTestPagerEntity image"/>
                    </a>
                    <span *ngIf="fieldTestPagerEntity.byteImageJade">{{fieldTestPagerEntity.byteImageJadeContentType}}, {{byteSize(fieldTestPagerEntity.byteImageJade)}}</span>
                </td>
                <td>
                    <a *ngIf="fieldTestPagerEntity.byteImageRequiredJade" (click)="openFile(fieldTestPagerEntity.byteImageRequiredJadeContentType, fieldTestPagerEntity.byteImageRequiredJade)">
                        <img [src]="'data:' + fieldTestPagerEntity.byteImageRequiredJadeContentType + ';base64,' + fieldTestPagerEntity.byteImageRequiredJade" style="max-height: 30px;" alt="fieldTestPagerEntity image"/>
                    </a>
                    <span *ngIf="fieldTestPagerEntity.byteImageRequiredJade">{{fieldTestPagerEntity.byteImageRequiredJadeContentType}}, {{byteSize(fieldTestPagerEntity.byteImageRequiredJade)}}</span>
                </td>
                <td>
                    <a *ngIf="fieldTestPagerEntity.byteImageMinbytesJade" (click)="openFile(fieldTestPagerEntity.byteImageMinbytesJadeContentType, fieldTestPagerEntity.byteImageMinbytesJade)">
                        <img [src]="'data:' + fieldTestPagerEntity.byteImageMinbytesJadeContentType + ';base64,' + fieldTestPagerEntity.byteImageMinbytesJade" style="max-height: 30px;" alt="fieldTestPagerEntity image"/>
                    </a>
                    <span *ngIf="fieldTestPagerEntity.byteImageMinbytesJade">{{fieldTestPagerEntity.byteImageMinbytesJadeContentType}}, {{byteSize(fieldTestPagerEntity.byteImageMinbytesJade)}}</span>
                </td>
                <td>
                    <a *ngIf="fieldTestPagerEntity.byteImageMaxbytesJade" (click)="openFile(fieldTestPagerEntity.byteImageMaxbytesJadeContentType, fieldTestPagerEntity.byteImageMaxbytesJade)">
                        <img [src]="'data:' + fieldTestPagerEntity.byteImageMaxbytesJadeContentType + ';base64,' + fieldTestPagerEntity.byteImageMaxbytesJade" style="max-height: 30px;" alt="fieldTestPagerEntity image"/>
                    </a>
                    <span *ngIf="fieldTestPagerEntity.byteImageMaxbytesJade">{{fieldTestPagerEntity.byteImageMaxbytesJadeContentType}}, {{byteSize(fieldTestPagerEntity.byteImageMaxbytesJade)}}</span>
                </td>
                <td>
                    <a *ngIf="fieldTestPagerEntity.byteAnyJade" (click)="openFile(fieldTestPagerEntity.byteAnyJadeContentType, fieldTestPagerEntity.byteAnyJade)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="fieldTestPagerEntity.byteAnyJade">{{fieldTestPagerEntity.byteAnyJadeContentType}}, {{byteSize(fieldTestPagerEntity.byteAnyJade)}}</span>
                </td>
                <td>
                    <a *ngIf="fieldTestPagerEntity.byteAnyRequiredJade" (click)="openFile(fieldTestPagerEntity.byteAnyRequiredJadeContentType, fieldTestPagerEntity.byteAnyRequiredJade)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="fieldTestPagerEntity.byteAnyRequiredJade">{{fieldTestPagerEntity.byteAnyRequiredJadeContentType}}, {{byteSize(fieldTestPagerEntity.byteAnyRequiredJade)}}</span>
                </td>
                <td>
                    <a *ngIf="fieldTestPagerEntity.byteAnyMinbytesJade" (click)="openFile(fieldTestPagerEntity.byteAnyMinbytesJadeContentType, fieldTestPagerEntity.byteAnyMinbytesJade)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="fieldTestPagerEntity.byteAnyMinbytesJade">{{fieldTestPagerEntity.byteAnyMinbytesJadeContentType}}, {{byteSize(fieldTestPagerEntity.byteAnyMinbytesJade)}}</span>
                </td>
                <td>
                    <a *ngIf="fieldTestPagerEntity.byteAnyMaxbytesJade" (click)="openFile(fieldTestPagerEntity.byteAnyMaxbytesJadeContentType, fieldTestPagerEntity.byteAnyMaxbytesJade)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="fieldTestPagerEntity.byteAnyMaxbytesJade">{{fieldTestPagerEntity.byteAnyMaxbytesJadeContentType}}, {{byteSize(fieldTestPagerEntity.byteAnyMaxbytesJade)}}</span>
                </td>
                <td>{{fieldTestPagerEntity.byteTextJade}}</td>
                <td>{{fieldTestPagerEntity.byteTextRequiredJade}}</td>
                <td>{{fieldTestPagerEntity.byteTextMinbytesJade}}</td>
                <td>{{fieldTestPagerEntity.byteTextMaxbytesJade}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/field-test-pager-entity', fieldTestPagerEntity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/field-test-pager-entity', fieldTestPagerEntity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'field-test-pager-entity/'+ fieldTestPagerEntity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="fieldTestPagerEntities && fieldTestPagerEntities.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
