<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.home.title">Field Test Entities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-field-test-entity" [routerLink]="['/field-test-entity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.home.createLabel">
            Create new Field Test Entity
            </span>
        </button>
    </h2>
    <my-prefix-alert></my-prefix-alert>
    <br/>
    <div class="table-responsive" *ngIf="fieldTestEntities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.stringTom">String Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.stringRequiredTom">String Required Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.stringMinlengthTom">String Minlength Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.stringMaxlengthTom">String Maxlength Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.stringPatternTom">String Pattern Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.integerTom">Integer Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.integerRequiredTom">Integer Required Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.integerMinTom">Integer Min Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.integerMaxTom">Integer Max Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.longTom">Long Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.longRequiredTom">Long Required Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.longMinTom">Long Min Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.longMaxTom">Long Max Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.floatTom">Float Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.floatRequiredTom">Float Required Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.floatMinTom">Float Min Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.floatMaxTom">Float Max Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.doubleRequiredTom">Double Required Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.doubleMinTom">Double Min Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.doubleMaxTom">Double Max Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.bigDecimalRequiredTom">Big Decimal Required Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.bigDecimalMinTom">Big Decimal Min Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.bigDecimalMaxTom">Big Decimal Max Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.localDateTom">Local Date Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.localDateRequiredTom">Local Date Required Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.instantTom">Instant Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.instantRequiredTom">Instant Required Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.zonedDateTimeTom">Zoned Date Time Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.zonedDateTimeRequiredTom">Zoned Date Time Required Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.booleanTom">Boolean Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.booleanRequiredTom">Boolean Required Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.enumTom">Enum Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.enumRequiredTom">Enum Required Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.byteImageTom">Byte Image Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.byteImageRequiredTom">Byte Image Required Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.byteImageMinbytesTom">Byte Image Minbytes Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.byteImageMaxbytesTom">Byte Image Maxbytes Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.byteAnyTom">Byte Any Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.byteAnyRequiredTom">Byte Any Required Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.byteAnyMinbytesTom">Byte Any Minbytes Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.byteAnyMaxbytesTom">Byte Any Maxbytes Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.byteTextTom">Byte Text Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.byteTextRequiredTom">Byte Text Required Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.byteTextMinbytesTom">Byte Text Minbytes Tom</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.fieldTestEntity.byteTextMaxbytesTom">Byte Text Maxbytes Tom</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fieldTestEntity of fieldTestEntities ;trackBy: trackId">
                <td><a [routerLink]="['/field-test-entity', fieldTestEntity.id, 'view' ]">{{fieldTestEntity.id}}</a></td>
                <td>{{fieldTestEntity.stringTom}}</td>
                <td>{{fieldTestEntity.stringRequiredTom}}</td>
                <td>{{fieldTestEntity.stringMinlengthTom}}</td>
                <td>{{fieldTestEntity.stringMaxlengthTom}}</td>
                <td>{{fieldTestEntity.stringPatternTom}}</td>
                <td>{{fieldTestEntity.integerTom}}</td>
                <td>{{fieldTestEntity.integerRequiredTom}}</td>
                <td>{{fieldTestEntity.integerMinTom}}</td>
                <td>{{fieldTestEntity.integerMaxTom}}</td>
                <td>{{fieldTestEntity.longTom}}</td>
                <td>{{fieldTestEntity.longRequiredTom}}</td>
                <td>{{fieldTestEntity.longMinTom}}</td>
                <td>{{fieldTestEntity.longMaxTom}}</td>
                <td>{{fieldTestEntity.floatTom}}</td>
                <td>{{fieldTestEntity.floatRequiredTom}}</td>
                <td>{{fieldTestEntity.floatMinTom}}</td>
                <td>{{fieldTestEntity.floatMaxTom}}</td>
                <td>{{fieldTestEntity.doubleRequiredTom}}</td>
                <td>{{fieldTestEntity.doubleMinTom}}</td>
                <td>{{fieldTestEntity.doubleMaxTom}}</td>
                <td>{{fieldTestEntity.bigDecimalRequiredTom}}</td>
                <td>{{fieldTestEntity.bigDecimalMinTom}}</td>
                <td>{{fieldTestEntity.bigDecimalMaxTom}}</td>
                <td>{{fieldTestEntity.localDateTom | date:'mediumDate'}}</td>
                <td>{{fieldTestEntity.localDateRequiredTom | date:'mediumDate'}}</td>
                <td>{{fieldTestEntity.instantTom | date:'medium'}}</td>
                <td>{{fieldTestEntity.instantRequiredTom | date:'medium'}}</td>
                <td>{{fieldTestEntity.zonedDateTimeTom | date:'medium'}}</td>
                <td>{{fieldTestEntity.zonedDateTimeRequiredTom | date:'medium'}}</td>
                <td>{{fieldTestEntity.booleanTom}}</td>
                <td>{{fieldTestEntity.booleanRequiredTom}}</td>
                <td jhiTranslate="{{'jhipsterSampleApplicationApp.EnumFieldClass.' + fieldTestEntity.enumTom}}">{{fieldTestEntity.enumTom}}</td>
                <td jhiTranslate="{{'jhipsterSampleApplicationApp.EnumRequiredFieldClass.' + fieldTestEntity.enumRequiredTom}}">{{fieldTestEntity.enumRequiredTom}}</td>
                <td>
                    <a *ngIf="fieldTestEntity.byteImageTom" (click)="openFile(fieldTestEntity.byteImageTomContentType, fieldTestEntity.byteImageTom)">
                        <img [src]="'data:' + fieldTestEntity.byteImageTomContentType + ';base64,' + fieldTestEntity.byteImageTom" style="max-height: 30px;" alt="fieldTestEntity image"/>
                    </a>
                    <span *ngIf="fieldTestEntity.byteImageTom">{{fieldTestEntity.byteImageTomContentType}}, {{byteSize(fieldTestEntity.byteImageTom)}}</span>
                </td>
                <td>
                    <a *ngIf="fieldTestEntity.byteImageRequiredTom" (click)="openFile(fieldTestEntity.byteImageRequiredTomContentType, fieldTestEntity.byteImageRequiredTom)">
                        <img [src]="'data:' + fieldTestEntity.byteImageRequiredTomContentType + ';base64,' + fieldTestEntity.byteImageRequiredTom" style="max-height: 30px;" alt="fieldTestEntity image"/>
                    </a>
                    <span *ngIf="fieldTestEntity.byteImageRequiredTom">{{fieldTestEntity.byteImageRequiredTomContentType}}, {{byteSize(fieldTestEntity.byteImageRequiredTom)}}</span>
                </td>
                <td>
                    <a *ngIf="fieldTestEntity.byteImageMinbytesTom" (click)="openFile(fieldTestEntity.byteImageMinbytesTomContentType, fieldTestEntity.byteImageMinbytesTom)">
                        <img [src]="'data:' + fieldTestEntity.byteImageMinbytesTomContentType + ';base64,' + fieldTestEntity.byteImageMinbytesTom" style="max-height: 30px;" alt="fieldTestEntity image"/>
                    </a>
                    <span *ngIf="fieldTestEntity.byteImageMinbytesTom">{{fieldTestEntity.byteImageMinbytesTomContentType}}, {{byteSize(fieldTestEntity.byteImageMinbytesTom)}}</span>
                </td>
                <td>
                    <a *ngIf="fieldTestEntity.byteImageMaxbytesTom" (click)="openFile(fieldTestEntity.byteImageMaxbytesTomContentType, fieldTestEntity.byteImageMaxbytesTom)">
                        <img [src]="'data:' + fieldTestEntity.byteImageMaxbytesTomContentType + ';base64,' + fieldTestEntity.byteImageMaxbytesTom" style="max-height: 30px;" alt="fieldTestEntity image"/>
                    </a>
                    <span *ngIf="fieldTestEntity.byteImageMaxbytesTom">{{fieldTestEntity.byteImageMaxbytesTomContentType}}, {{byteSize(fieldTestEntity.byteImageMaxbytesTom)}}</span>
                </td>
                <td>
                    <a *ngIf="fieldTestEntity.byteAnyTom" (click)="openFile(fieldTestEntity.byteAnyTomContentType, fieldTestEntity.byteAnyTom)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="fieldTestEntity.byteAnyTom">{{fieldTestEntity.byteAnyTomContentType}}, {{byteSize(fieldTestEntity.byteAnyTom)}}</span>
                </td>
                <td>
                    <a *ngIf="fieldTestEntity.byteAnyRequiredTom" (click)="openFile(fieldTestEntity.byteAnyRequiredTomContentType, fieldTestEntity.byteAnyRequiredTom)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="fieldTestEntity.byteAnyRequiredTom">{{fieldTestEntity.byteAnyRequiredTomContentType}}, {{byteSize(fieldTestEntity.byteAnyRequiredTom)}}</span>
                </td>
                <td>
                    <a *ngIf="fieldTestEntity.byteAnyMinbytesTom" (click)="openFile(fieldTestEntity.byteAnyMinbytesTomContentType, fieldTestEntity.byteAnyMinbytesTom)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="fieldTestEntity.byteAnyMinbytesTom">{{fieldTestEntity.byteAnyMinbytesTomContentType}}, {{byteSize(fieldTestEntity.byteAnyMinbytesTom)}}</span>
                </td>
                <td>
                    <a *ngIf="fieldTestEntity.byteAnyMaxbytesTom" (click)="openFile(fieldTestEntity.byteAnyMaxbytesTomContentType, fieldTestEntity.byteAnyMaxbytesTom)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="fieldTestEntity.byteAnyMaxbytesTom">{{fieldTestEntity.byteAnyMaxbytesTomContentType}}, {{byteSize(fieldTestEntity.byteAnyMaxbytesTom)}}</span>
                </td>
                <td>{{fieldTestEntity.byteTextTom}}</td>
                <td>{{fieldTestEntity.byteTextRequiredTom}}</td>
                <td>{{fieldTestEntity.byteTextMinbytesTom}}</td>
                <td>{{fieldTestEntity.byteTextMaxbytesTom}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/field-test-entity', fieldTestEntity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/field-test-entity', fieldTestEntity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'field-test-entity/'+ fieldTestEntity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
