<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="entityWithServiceImplPaginationAndDTO">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.entityWithServiceImplPaginationAndDTO.detail.title">Entity With Service Impl Pagination And DTO</span> {{entityWithServiceImplPaginationAndDTO.id}}</h2>
            <hr>
            <my-prefix-alert-error></my-prefix-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.entityWithServiceImplPaginationAndDTO.theo">Theo</span></dt>
                <dd>
                    <span>{{entityWithServiceImplPaginationAndDTO.theo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/entity-with-service-impl-pagination-and-dto', entityWithServiceImplPaginationAndDTO.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
